@model Multicarbono.Models.ItemPedido.ItemPedido

<h3>Deseja excluir o item do pedido?</h3>

<div>
    <form asp-action="Delete" asp-controller="ItemPedido">
        <input type="hidden" asp-for="IdItemPedido" />
        <input type="submit" value="Sim" class="btn btn-danger" />
        <input type="button" asp-action="Index" asp-route-idPedido="@Model.IdPedido" value="Não" class="btn btn_danger" />
        <a asp-action="Index" asp-route-idPedido="@Model.IdPedido" asp-route-itemPedido="@Model" class="btn btn_danger">Não</a>
    </form>
</div>
