@model IEnumerable<Multicarbono.Models.Usuario.Usuario>

@*<h4>Cadastrar usuário</h4>*@

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DtNascimento" class="control-label"></label>
                <input asp-for="DtNascimento" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DtCriacao" class="control-label"></label>
                <input asp-for="DtCriacao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NivelAcesso" class="control-label"></label>
                <input asp-for="NivelAcesso" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
            </div>
        </form>
    </div>




</div>


}
