@model Multicarbono.Models.Usuario.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Deseja excluir o usuário?</h3>

<div>
    <form asp-action="Delete">
        <input type ="hidden" asp-for="IdUsuario"/>
        <input type ="submit" value="Sim" class="btn btn-danger"/>
        <a asp-action="Index">Não</a>
    </form>
</div>
