@model Multicarbono.Models.EnderecoCliente.EnderecoCliente

@Html.Partial("_Menu")

<hr />
<h6 style="margin-left:10%">Alterar telefone</h6>
<br />
<br />

<div class="row" style="margin-left:10%"; margin-top:auto">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdEndereco" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TipoEndereco" class="control-label"></label>
                <input asp-for="TipoEndereco" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

