@model Multicarbono.Models.ItemNota.ItemNota

@Html.Partial("_Menu")

<hr />
<h6 style="margin-left:10%">Alterar Item</h6>
<br />
<br />

<div class="row" style="margin-left:10%; margin-top:auto">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdItemNF" />
            <div class="form-group">
                <label asp-for="IdNF" class="control-label"></label>
                <input asp-for="IdNF" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CodProduto" class="control-label"></label>
                <input asp-for="CodProduto" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="QtdePesada" class="control-label"></label>
                <input asp-for="QtdePesada" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>
