@model IEnumerable<Multicarbono.Models.Login.LoginViewModel>

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div style="align-content:center">
    <h3>Multicarbono</h3>
</div>


@using (Html.BeginForm("DoLogin", "Login", FormMethod.Post, new { @class = "login-form", @id = "LoginForm" }))
{
    <div class="input-group">
        <input type="text" name="User" id="user"  />
        <input type="text" id="Password" name="password" />
        <span>
            <button type="submit" id="btnLogin">Login</button>
        </span>
    </div>
}

<div id="modal-login-error" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="modal-title"></div>
