
@{
    ViewData["Title"] = "Index";


    <div style="align-content:center">
        <h1>Login</h1>
    </div>


    using (Html.BeginForm("DoLogin", "Login", FormMethod.Post, new { @id = "LoginForm", @onsubmit = "SubmitForm()" }))
    {
        <div class="input-group">
            <input type="text" name="login" id="login" />
            <input type="text" id="senha" name="senha" />
            <span>
                <label type="button" name="doLogin" id="btnLogin" onClick="submit()">Login</label>
            </span>

        </div>
    }
}





