@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
    Layout = null;
}

@Html.Partial("_Menu")
<body style="background-image:url('@Url.Content(" /Content/home.png")'); background-size:cover"></body>

