@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h6 class="display-4">Sistema de Vendas - Multicarbono</h6>
</div>